.PAPKA{
    margin: 10px;
    display: inline-block;
}
.Akbarali{
    margin: 10px;
    display: inline-block;
}
.Aziza{
    margin: 10px;
    display: inline-block;
}
.Umar{
    margin: 10px;
    display: inline-block;
}
.Diyora{
    margin: 10px;
    display: inline-block;
}
.Muhammadali{
    margin: 10px;
    display: inline-block;
}
.domer{
    margin-left: 100px;
    padding: 200px;
    background-color: red;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    width: 300px;
    height: 200px;
}
.qwerty{
    text-align: center;
}
.bay{
   width: 500px;
   height: 360px;
    padding: 20px;
    background-color: red;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    display: inline-block;
}
.mama{
    margin: 10px;
    display: inline-block;
}
.papa{
    margin: 10px;
    display: inline-block;
}
.dydy{
    margin: 10px;
    display: inline-block;
}
.devushka{
    margin: 10px;
    display: inline-block;
}
.malchiki{
    margin: 10px;
    display: inline-block;
}
.devushki{
    margin: 10px;
    display: inline-block;
}